
:root{
	--first-color:	rgb(35, 35, 35);
	--second-color:	rgb(85, 85, 85);
	--third-color:	white;
	--fourth-color:	black;
}

* {
    margin:     0px;
    padding:    4px;
    /*border:		solid red 1px;*/
}

body {
    text-align:         center;
    font-family:        sans-serif;
    /*background:         cover;*/
    background-color:   var(--first-color);
}

body::-webkit-scrollbar {
    width:  12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: white; /* color of the tracking area */
    border:     3px solid black;
}

body::-webkit-scrollbar-thumb {
    /* color of the scroll thumb */
    background:     #ff00ee;
    background:     linear-gradient(90deg,#ff00b3 0%, #9500ff 14%, #0050ff 29%, #00fff6 43%, #2cff00 57%, #ffec00 71%, #ff8100 86%, #ff0000 100%);
    background:     -webkit-linear-gradient(90deg,#ff00b3 0%, #9500ff 14%, #0050ff 29%, #00fff6 43%, #2cff00 57%, #ffec00 71%, #ff8100 86%, #ff0000 100%);
    background:     -moz-linear-gradient(90deg,#ff00b3 0%, #9500ff 14%, #0050ff 29%, #00fff6 43%, #2cff00 57%, #ffec00 71%, #ff8100 86%, #ff0000 100%);
    border-radius:  7px; /* roundness of the scroll thumb */
    border:         3px solid black; /* creates padding around scroll thumb */
}

h1 {
	background-color:	var(--second-color);
	border-radius:		8px;
}
canvas {
	border-radius:		6px;
	/*backdrop-filter:	blur(4px); -> inutile*/
}

input[type="button"] {
	background-color:	var(--second-color);
	border-radius:		23px;
    border-color: -internal-light-dark(var(--fourth-color), var(--third-color));
}

input[type="text"] {
	background-color:	var(--second-color);
	border-color:		var(--fourth-color);
	width:				25%;
}

input[type="text"]:focus {
	border-radius:	0px;
}

.container {
	display:				grid;
	grid-template-columns:	1fr 2fr;
}

::marker {
	visibility:	hidden;
}

h2 {
	background-color:	var(--second-color);
	width:				100%;
	font-weight:		normal;
	font-size:			1em;
}

p {
	color:	var(--third-color);
}

/*
trid {
	color:				red;
	background-color:	grey;
	clip-path:			polygon(50% 0%, 0% 100%, 100% 100%);
}

envers {
	color:				green;
	background-color:	lightgrey;
	clip-path:			polygon(0% 0%, 100% 0%, 50% 100%);
}

autre {
	color:				black;
	background-color:	red;
	clip-path:			polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
*/
